<div class="class container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Sabin_PP.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Experienced Java developer with a demonstrated history of working 
                    in the information technology and services industry. Skilled in Spring, SpringBoot, MicroServices, Struts, BIRT Project, IBM DB2, LDAP and HTML. Strong information technology professional with a Bachelor of Engineering - BE focused in Electronics and Communications Engineering from Tribhuvan University,Nepal.</p>
            </div>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <h2>Featured Project</h2>
        </div>
    </div>
    
</div>
